.team-invite {
    border:1px solid #606060;
    border-radius:3px;
    padding:1px;
}

.team-groupname {
    font-weight:bolder;
}

.team-invided-member {
    opacity:0.5;
    moz-opacity:0.5;
}

.team-instance {
    margin-bottom:10px;
    background-color:#e0e0e0;
    padding:2px;
}

.team-status-indicator {
    float:right;
} 

team-shadowed {
    opacity:0.5;
    -moz-opacity:0.5;
}

.team-date-green{
    color:#2B8C20;
}

.team-date-yellow{
    color:#ABB324;
}

.team-date-orange{
    color:#A28824;
}

.team-date-red{
    color:#D73939;
}

.team-line-cmd {
    float:right;
}

.team-pending-request {
    background-color:#FFA0A0;
}

.team-requests {
    padding-left:5px;
}

.team-request-team .team-groupname{
    font-size:0.8em;
}

.block_teams.block .footer {
    padding-top:10px;
    font-size:0.9em;
}